<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Formularz logowania</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
<div class="container">
    <h2>Logowanie</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required #usernameInput="ngModel">
        </div>
        <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required #passwordInput="ngModel">
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="loginForm.invalid"class="btn btn-primary mt-3">Zaloguj</button>
        </div>
        <div *ngIf="errorMessage" class="form-group">
            <p class="error-message">{{ errorMessage }}</p>
        </div>
        <div class="form-group">
            <a routerLink="/register" class="btn btn-primary mt-3">Rejestracja</a>
        </div>
    </form>
</div>
</body>
</html>
