<div class="dashboard">
    <aside class="sidebar">
      <h2>Admin Panel</h2>
      <ul>
        <li><a (click)="changeView('books')">📚 Książki</a></li>
        <li><a (click)="changeView('users')">👤 Użytkownicy</a></li>
        <li><a href="#">💸 Promocje</a></li>
        <li><a href="#">📖 Wypożyczenia</a></li>
        <li><a href="#">⚙️ Ustawienia</a></li>
      </ul>
    </aside>
    <main class="main-content">
      <header >
        <h1>{{ currentTitle }}</h1>
        <span>Witaj, Admin!</span>
        <button (click)="checkRequests()" class="check-btn">Zatwierdź wszystko</button>
        <button (click)="checkOverdues()" class="check-btn">🔄 Sprawdź zaległości</button>
      </header>
      <section class="cards" *ngIf="view === 'dashboard'">
        <div class="card">
          <h3>Użytkownicy</h3>
          <p>{{userSize}}</p>
        </div>
        <div class="card">
          <h3>Wypożyczenia</h3>
          <p>{{loanSize}}</p>
        </div>
        <div class="card">
          <h3>Nowe książki</h3>
          <p>{{newBooksSize}}</p>
        </div>
        <div class="card">
          <h3>Zaległości</h3>
          <p>{{overdueBooksSize}}</p>
        </div>
      </section>
      <section *ngIf="view === 'books'">
        <div class="books-container">
          <div *ngFor="let book of books" class="book">
            <div class="book-details">
              <h3>{{ book.title }}</h3>
              <p>Autor: {{ book.authorName }} {{ book.authorSurname }}</p>
              <p>Gatunek: {{ book.genreName }}</p>
              <p>Cena: {{ book.price }} zł</p>
              <button (click)="goToBook(book.id)">Przejdź dalej</button>
            </div>
          </div>
      </div>
          <div class="pagination">
          <button (click)="prevPage()" [disabled]="currentPage === 0">Poprzednia</button>
          <span>Strona {{ currentPage + 1 }} z {{ totalPages }}</span>
          <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Następna</button>
      </div>
    </section>
    <section *ngIf="view === 'users'">
        <div class="books-container">
        <div *ngFor="let user of users" class="user">
          <p><strong>Nazwa:</strong> {{ user.username }}</p>
          <p><strong>Hasło:</strong> {{ user.password }}</p>
          <p><strong>Rola:</strong> {{ user.role }}</p>
        </div>
      </div>
    </section>
    </main>
  </div>
