<form #bookForm="ngForm" (ngSubmit)="saveBook()" novalidate>
  <label>Tytuł:</label>
  <input type="text" [(ngModel)]="book.title" name="title" required>

  <label>Imię autora:</label>
  <input type="text" [(ngModel)]="book.authorName" name="authorName" required>

  <label>Nazwisko autora:</label>
  <input type="text" [(ngModel)]="book.authorSurname" name="authorSurname" required>

  <label>Rok wydania:</label>
  <input type="date" [(ngModel)]="book.publicationDate" name="publicationDate" required>

  <label>ISBN:</label>
  <input type="text" [(ngModel)]="book.isbn" name="isbn" required>

  <label>Gatunek:</label>
  <input type="text" [(ngModel)]="book.genreName" name="genreName" required>

  <label>Język:</label>
  <input type="text" [(ngModel)]="book.language" name="language" required>

  <label>Wydawca:</label>
  <input type="text" [(ngModel)]="book.publisherName" name="publisherName" required>

  <label>Liczba stron:</label>
  <input type="number" [(ngModel)]="book.pages" name="pages" required>

  <label>Cena:</label>
  <input type="number" [(ngModel)]="book.price" name="price" step="0.01" required>


  <button type="submit">Dodaj książkę</button>

  <button type="button" routerLink="/MainMenu">Powrót do menu</button>
</form>
