
  <div class="main-container">
    <aside class="sidebar">
      <h3>Filtry wyszukiwania</h3>
      <div class="form-group">
        <label for="title">Wyszukaj ogólnie:</label>
        <input type="text" id="title" [(ngModel)]="criteria.title" name="title" placeholder="Tytuł, ISBN, wydawca...">
      </div>
      <div class="form-group">
        <label>Autor:</label><br>
        <label for="authorName">Imię:</label>
        <input type="text" id="authorName" [(ngModel)]="criteria.authorName" name="authorName" placeholder="Imię autora">
      </div>
      <div class="form-group">
        <label for="authorSurname">Nazwisko:</label>
        <input type="text" id="authorSurname" [(ngModel)]="criteria.authorSurname" name="authorSurname" placeholder="Nazwisko autora">
      </div>
      <div class="form-group">
        <label>Cena:</label><br>
        <label for="minPrice">Minimalna:</label>
        <input type="number" id="minPrice" [(ngModel)]="criteria.minPrice" name="minPrice" placeholder="np. 10.00">
      </div>
      <div class="form-group">
        <label for="maxPrice">Maksymalna:</label>
        <input type="number" id="maxPrice" [(ngModel)]="criteria.maxPrice" name="maxPrice" placeholder="np. 50.00">
      </div>
      <div class="form-group">
        <label>Rok wydania:</label><br>
        <label for="startYear">Od:</label>
        <input type="number" id="startYear" [(ngModel)]="criteria.startYear" name="startYear" placeholder="np. 2000">
      </div>
      <div class="form-group">
        <label for="endYear">Do:</label>
        <input type="number" id="endYear" [(ngModel)]="criteria.endYear" name="endYear" placeholder="np. 2024">
      </div>
      <div class="form-group">
        <label for="genreSelect">Kategoria (Gatunek):</label>
        <select id="genreSelect" [(ngModel)]="criteria.genre_name" name="genre_name">
          <option [value]="undefined">Wybierz kategorię</option>
          <option *ngFor="let genre of genres" [value]="genre.name">{{ genre.name }}</option>
        </select>
      </div>
      <div style="display: flex; justify-content: center; gap: 2rem; align-items: center; margin-top: 2rem;">
          <label style="display: flex; align-items: center; gap: 0.5rem;">
            <input type="checkbox" (change)="onCheckboxChange($event,'Nowości')" />
            Nowości
          </label>
          <label style="display: flex; align-items: center; gap: 0.5rem;">
            <input type="checkbox" (change)="onCheckboxChange($event,'Zapowiedzi')" />
            Zapowiedzi
          </label>
      </div>
      <div class="form-actions">
        <button type="submit">Zastosuj filtry</button>
        <button type="button" >Wyczyść filtry</button>'(click)="resetFilters()"'
      </div>
    </aside>
  <section class="main-content">
      <h1>Najlepsze Książki na Wyciągnięcie Ręki</h1>
      <p class="subtitle">Znajdź swoją następną książkę w naszym szerokim wyborze</p>
      <div class="pagination">
        <div class="dropdown">
          <button class="dropbtn">Posortuj według</button>
          <div class="dropdown-content">
            <button class="dropdown-item" (click)="sortBooks(0,'title','asc')">Po nazwie A-Z</button>
            <button class="dropdown-item" (click)="sortBooks(0,'title','desc')">Po nazwie Z-A</button>
            <button class="dropdown-item" (click)="sortBooks(0,'price','asc')">Po cenie A-Z</button>
            <button class="dropdown-item" (click)="sortBooks(0,'price','desc')">Po cenie Z-A</button>
            <button class="dropdown-item" (click)="sortBooks(0,'year','asc')">Po roku A-Z</button>
            <button class="dropdown-item" (click)="sortBooks(0,'year','desc')">Po roku Z-A</button>
          </div>
        </div>
      </div>
        <div class="books-container">
          <div *ngFor="let book of books" class="book">
            <div [routerLink]="['/book', book.id]">
              <h3>{{ book.title }}</h3>
              <p>Autor: {{ book.authorName }} {{ book.authorSurname }}</p>
              <p>Gatunek: {{ book.genreName }}</p>
              <p>Cena: {{ book.price }} zł</p>
            </div>
            <button>Kup</button>
            <button (click)="loanbook(book.id)">Wypozycz</button>
          </div>
          
          <div *ngIf="books.length === 0">
              <p>Brak książek w bazie danych.</p>
          </div>
      </div>
  </section>
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 0">Poprzednia</button>
      <span>Strona {{ currentPage + 1 }} z {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Następna</button>
    </div>


