/* Globalne style */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Kontener przycisków */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

/* Ogólny styl przycisków */
.button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Kolor dla różnych typów przycisków */
.add-button {
    background-color: #4CAF50;
    color: white;
}

.back-button {
    background-color: #f44336;
    color: white;
}

.edit-button {
    background-color: #007BFF;
    color: white;
}

.delete-button {
    background-color: #FF5733;
    color: white;
}

/* Efekty hover */
.button:hover {
    background-color: #333;
    transform: scale(1.05);
}

.add-button:hover {
    background-color: #45a049;
}

.back-button:hover {
    background-color: #d32f2f;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c1351d;
}

/* Styl dla kontenera z tabelą */
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    border-bottom: 1px solid #ddd;
}

.action-buttons form {
    display: inline-block;
    margin-right: 10px;
}

/* Komunikat o braku bibliotek */
.no-libraries-message {
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 18px;
}

/* Styl dla przycisków w tabeli */
.action-buttons button {
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
}

/* Dodatkowy margines między przyciskami */
.action-buttons form {
    display: inline-block;
    margin-right: 15px;
}
