<div class="books-container">
    <div *ngFor="let book of likedBooks" class="book">
        <h2>{{ book.title }}</h2>
        <p><strong>Autor:</strong> {{ book.authorName }} {{ book.authorSurname }}</p>
        <p><strong>Gatunek:</strong> {{ book.genreName }}</p>
        <p><strong>Wydawca:</strong> {{ book.publisherName }}</p>
        <p><strong>Rok wydania:</strong> {{ book.publicationYear }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Język:</strong> {{ book.language }}</p>
        <p><strong>Cena:</strong> {{ book.price }} zł</p>
        <p><strong>Liczba stron:</strong> {{ book.pages }}</p>
    <div *ngIf="likedBooks.length === 0">
        <p>Brak książek w bazie danych.</p>
    </div>
</div>
</div>