<section class="book-detail-page-wrapper">
    <div *ngIf="book" class="book-container">
        <div class="book-content">
            <div class="book-details">
              <h2>{{ book.title }}</h2>
              <p><strong>Autor:</strong> {{ book.authorName }} {{ book.authorSurname }}</p>
              <p><strong>Gatunek:</strong> {{ book.genreName }}</p>
              <p><strong>Wydawca:</strong> {{ book.publisherName }}</p>
              <p><strong>Rok wydania:</strong> {{ book.publicationDate}}</p>
              <p><strong>ISBN:</strong> {{ book.isbn }}</p>
              <p><strong>Język:</strong> {{ book.language }}</p>
              <p><strong>Cena:</strong> {{ book.price }} zł</p>
              <p><strong>Liczba stron:</strong> {{ book.pages }}</p>
              </div>
            <div *ngIf="bookImg" class="book-image">
                    <img [src]="bookImg.bookImg" alt="Okładka książki" />
                </div>
        </div>

        <div class="action-buttons">
          <form (submit)="likedBook(book.id, userId)">
      <button type="submit" class="button">Polub</button>
    </form>
    <form>
      <div class="dropdown">
        <button type="button" (click)="getLibraries(book.title)">Dostępność</button>
        <div class="dropdown-content">
          <div *ngIf="libraries.length > 0">
            <option *ngFor="let library of libraries" [ngValue]="library">
              Lokalizacja: {{ library.library.location }} Ilość: {{library.Stock}}
            </option>
          </div>
          <div *ngIf="libraries.length === 0">
            <p>Ksiazka jest niedostepna</p>
          </div>
        </div>
      </div>
    </form>
            </div>

        <button [routerLink]="['/MainMenu']" class="back-button">Powrót</button>
    </div>

    <div class="additional-sections-container">
        <div class="reviews-section">
          <h3>Recenzje</h3>
      <div *ngIf="reviews else noReviews">
      <div *ngFor="let review of reviews" class="review-item" >
        <h4>treść: {{review.content}}</h4>
        <p class="review-rating">ocena: {{review.rating}}</p>
        <p>Użytkownik - {{review.user.username}}</p>
        <p class="review-date">Data utworzenia: {{review.createdAt}}</p>
      </div>
    </div>
    <ng-template #noReviews>
      <p class="no-content-message">Brak recenzji dla tej książki. Bądź pierwszy!</p>
    </ng-template>
    <button class="add-review-button">Dodaj recenzję</button>
            </div>

        <div class="promotions-similar-books">
            <div class="promotions-section">
              <h3>Promocje</h3>
      <div >*ngIf="promotions && promotions.length > 0; else noPromotions"
        <div >*ngFor="let promo of promotions" class="promo-item"
          <p><strong></strong></p>
          <p>Rabat:%</p>
          <p class="promo-validity">Ważna do:</p>
        </div>
      </div>
      <ng-template #noPromotions>
        <p class="no-content-message">Brak aktualnych promocji.</p>
      </ng-template>
                </div>
            <div class="similar-books-section">
              <h3>Podobne książki</h3>
      <div >*ngIf="similarBooks && similarBooks.length > 0; else noSimilarBooks"
        <div >*ngFor="let similarBook of similarBooks" class="similar-book-item" [routerLink]="['/book', similarBook.id]"
          <h4>title </h4>
          <p>Autor:</p>
          <p>Cena:</p>
        </div>
      </div>
      <ng-template #noSimilarBooks>
        <p class="no-content-message">Brak podobnych książek.</p>
      </ng-template>
                </div>
        </div>
    </div>
</section>
